.container_Footer {
    height: 10rem;

    .copy_Footer {
        margin-top: 4rem;
    }

    .logo_Footer {
        width: 12rem;       
        margin-top: 1rem;
    }

    .social_Footer img {
        width: 10rem;
        margin-right: 2rem;
        margin-top: 1rem;
    }

    .social_Footer svg {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .social_Footer a {
        color: black;
    }
}
